<div>
    <h1>You can find us here:</h1>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc4HetfjsWS_i51ncduGCZzdURGCFdFeFAAQ&usqp=CAU" alt="map"/>
        <div class="text">
            <p>1113 Sofia</p>
            <p>Lozenets</p>
            <p>13 Buhalov str.</p>
            <p>Our phone number is +359 899 907 949</p>
        </div>
    </div>
    
    <hr />
    <h2>!!! In order to buy a product online make your registration in our page !!!</h2>
</div>
